
@{
    ViewData["Title"] = "IndexSitio";
    Layout = "~/Views/Template/LayoutClientes.cshtml";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/PaginaInicio.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
}
    <header class="content header" id="tab-ini">
	
		  <h1 class="titlee">TU CLINICA MEDICA DE CONFIANZA</h1>
		  <h2 class="subt"> </h2>
	 </header>
     <section class="history-area" id="tab-nos">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                <br>
                <span>SOBRE NOSOTROS</span></h3>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
          <div class="row">
            <div class="col-lg-12">
              <div id="history-slid" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="carousel-item row">
                    <div class="col-lg-6 col-md-12 pl-0">
                      <div class="history-img">
                        <img class="img-fluid" src="~/multimedia/mision.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                      <div class="history-content">
                        <p class="title-bg-small primary-bg wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                         Klinik</p>
                        <h2 class="column-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms"><span>MISION</span></h2>
                        <p>
                            Nuestra misión es proporcionar atención médica integral y de calidad a nuestros pacientes, ofreciendo una 
                            amplia gama de especialidades médicas en un entorno cálido y acogedor. Nos esforzamos por promover la salud 
                            y el bienestar de la comunidad, brindando servicios médicos personalizados y empleando tecnología de vanguardia 
                            para garantizar un diagnóstico preciso y tratamientos efectivos. Nos comprometemos a ser líderes en el campo de
                             la medicina, ofreciendo una atención compasiva y accesible para mejorar la calidad de vida de nuestros pacientes.
                        </p>
                      </div>
                    </div>
                  </div><!-- End off item-->
                  <div class="carousel-item row">
                    <div class="col-lg-6 col-md-12 pl-0">
                      <div class="history-img">
                        <img class="img-fluid" src="~/multimedia/VISION.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                      <div class="history-content">
                        <p class="title-bg-small primary-bg wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                          KLINIK</p>
                        <h2 class="column-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms"> <span>VISION</span></h2>
                      
                        <p>
                            Nuestra visión es convertirnos en la clínica de referencia en nuestra región, reconocida por nuestro compromiso 
                            con la excelencia médica y la satisfacción del paciente. Buscamos ser un centro médico innovador que integre diferentes 
                            especialidades para ofrecer una atención integral y multidisciplinaria. Aspiramos a ser líderes en la adopción de 
                            tecnología médica de vanguardia, así como en la investigación y el desarrollo de nuevas terapias y tratamientos. 
                            Queremos ser reconocidos como un equipo médico altamente capacitado y comprometido, que se preocupa profundamente 
                            por la salud y el bienestar de nuestros pacientes.
                        </p>
                      </div>
                    </div>
                  </div><!-- End off item-->
                  <div class="carousel-item row">
                    <div class="col-lg-6 col-md-12 pl-0">
                      <div class="history-img">
                        <img class="img-fluid" src="~/multimedia/valores.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                      <div class="history-content">
                        <p class="title-bg-small primary-bg wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                          KLINIK</p>
                        <h2 class="column-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms"> <span>VALORES</span></h2>
                        <p>
                            En nuestra clínica, nos regimos por un conjunto de valores fundamentales que guían nuestras acciones y definen nuestra 
                            identidad como institución de atención médica. Estos valores son el pilar sobre el cual construimos nuestras relaciones
                             con los pacientes, el equipo médico y la comunidad en general.
                        </p>
                        <p>
                            los valores nos guían en nuestro trabajo diario y nos ayudan a cumplir nuestra misión de proporcionar atención médica de 
                            calidad, brindando apoyo, alivio y bienestar a nuestros pacientes. Nos esforzamos por ser líderes en el campo de la medicina y establecer relaciones duraderas basadas en la confianza y el respeto.
                        </p>
                      </div>
                    </div>
                  </div><!-- End off item-->
                  <div class="carousel-item row active">
                    <div class="col-lg-6 col-md-12 pl-0">
                      <div class="history-img">
                        <img class="img-fluid" src="~/multimedia/enfoque.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                      <div class="history-content">
                        <p class="title-bg-small primary-bg wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                          KLINIK</p>
                        <h2 class="column-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms"> <span>ENFOQUE</span></h2>
                       
                        <p>
                            En nuestra clínica, adoptamos un enfoque multidisciplinario para brindar una atención médica integral y coordinada 
                            a nuestros pacientes. Nuestro equipo de especialistas médicos altamente capacitados y experimentados trabaja de manera 
                            colaborativa, combinando sus conocimientos y experiencia en diversas áreas de especialización.
                            Al adoptar este enfoque, nos aseguramos de que nuestros pacientes reciban una evaluación completa y precisa, así como 
                            un plan de tratamiento personalizado. Los especialistas de diferentes disciplinas trabajan en conjunto, compartiendo 
                            información y perspectivas para desarrollar una comprensión holística de la salud del paciente y proporcionar las mejores
                             opciones de tratamiento.
                        </p>
                      </div>
                    </div>
                  </div><!-- End off item-->
                  <div class="carousel-item row">
                    <div class="col-lg-6 col-md-12 pl-0">
                      <div class="history-img">
                        <img class="img-fluid" src="~/multimedia/equipamiento.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                      <div class="history-content">
                        <p class="title-bg-small primary-bg wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                          KLINIK</p>
                        <h2 class="column-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms"><span class="tr">TECNOLOGIA Y EQUIPAMIENTO</span></h2>
                        <p>
                            En nuestra clínica, contamos con tecnología y equipamiento de vanguardia para brindar una atención médica de calidad y
                             ofrecer a nuestros pacientes los mejores recursos disponibles. Nos comprometemos a mantenernos actualizados con los 
                             avances tecnológicos en el campo de la medicina y a utilizar herramientas innovadoras para mejorar el diagnóstico, 
                             tratamiento y cuidado de nuestros pacientes.
                        </p>
                        <p>
                          En nuestra clínica, nos comprometemos a utilizar la tecnología y el equipamiento de manera óptima, asegurando que estén 
                          siempre en buen estado y actualizados. Trabajamos en colaboración con proveedores y expertos en tecnología médica para garantizar 
                          que nuestras instalaciones estén equipadas con las herramientas más avanzadas y efectivas para el beneficio de nuestros pacientes.
                        </p>
                      </div>
                    </div>
                  </div><!-- End off item-->
         
                </div><!-- End off carusel inner -->
                <!-- Indicators -->
                <ol class="carousel-indicators text-center">
                  <li data-target="#history-slid" data-slide-to="0" >MISION</li>
                  <li data-target="#history-slid" data-slide-to="1">VISION</li>
                  <li data-target="#history-slid" data-slide-to="2">VALORES</li>
                  <li data-target="#history-slid" data-slide-to="3" class="active" >ENFOQUE</li>
                  <li data-target="#history-slid" data-slide-to="4">EQUIPAMIENTO</li>
  
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="general" id="tab-esp">
        <div class="general1">
            <h2 class="title">Especialidad de Ortopedia</h2>
             <p class="prro">
                La especialidad de Ortopedia es una rama de la medicina que se enfoca en 
                el diagnóstico, tratamiento, rehabilitación y prevención de las lesiones 
                y trastornos del sistema musculoesquelético. En nuestra clínica, contamos 
                con un equipo de especialistas en Ortopedia altamente capacitados y experimentados.
                Nuestro equipo de ortopedistas se dedica a brindar una atención integral a 
                pacientes de todas las edades, desde niños hasta adultos mayores. Trabajamos 
                en estrecha colaboración con otros profesionales de la salud, como fisioterapeutas
                 y terapeutas ocupacionales, para garantizar una atención completa y personalizada.
             </p>
        </div>
    
          <div class="general2"> </div>
       
     </section>

    <section class="general">
        <div class="general3"> </div>
        <div class="general1">
            <h2 class="title">Especialidad de Dermatologia</h2>
             <p class="prro">
                La especialidad de Dermatología se centra en el diagnóstico, tratamiento
                 y prevención de las enfermedades y condiciones relacionadas con la piel,
                  cabello y uñas. En nuestra clínica, contamos con un equipo de dermatólogos
                   altamente capacitados y comprometidos con la salud y el bienestar de la piel de nuestros pacientes.
                Nuestros dermatólogos ofrecen una amplia gama de servicios especializados para
                 abordar diversas afecciones cutáneas y estéticas.
             </p>
        </div>
    
     </section>
     <section class="general" id="">
        <div class="general4">
            <h2 class="title">Especialidad de Nutricion</h2>
             <p class="prro">
                La especialidad de Nutrición se enfoca en la ciencia y el estudio de la alimentación y la nutrición,
                 así como en la promoción de una alimentación saludable y equilibrada. En nuestra clínica, contamos 
                 con un equipo de nutricionistas y dietistas altamente capacitados que se dedican a ayudar a nuestros 
                 pacientes a alcanzar y mantener una salud óptima a través de una nutrición adecuada.
                 Nuestros nutricionistas ofrecen servicios personalizados y asesoramiento nutricional para 
                 abordar una amplia gama de necesidades y objetivos individuales
             </p>
        </div>
    
          <div class="general5"> </div>
       
     </section>

    <section class="general">
        <div class="general6"> </div>
        <div class="general4">
            <h2 class="title">Especialidad de Neurologia</h2>
             <p class="prro">
                La especialidad de Neurología se centra en el diagnóstico y tratamiento de enfermedades y 
                trastornos que afectan el sistema nervioso central y periférico, incluyendo el cerebro, la 
                médula espinal, los nervios y los músculos. En nuestra clínica, contamos con un equipo de 
                neurólogos altamente capacitados y comprometidos con brindar atención especializada a nuestros pacientes.
                Nuestros neurólogos se dedican a evaluar y tratar una amplia gama de condiciones neurológicas, 
                desde enfermedades comunes hasta trastornos más complejos.
             </p>
        </div>
    
     </section>
     <section class="general" id="">
        <div class="general7">
            <h2 class="title">Especialidad de Otorrinolaringologia</h2>
             <p class="prro">
                La especialidad de Otorrinolaringología se enfoca en el diagnóstico y tratamiento 
                de enfermedades y trastornos del oído, la nariz, la garganta y las estructuras relacionadas.
                 En nuestra clínica, contamos con un equipo de otorrinolaringólogos altamente capacitados y 
                 comprometidos con brindar atención especializada y integral a nuestros pacientes.
                 Nuestros otorrinolaringólogos abordan una amplia gama de condiciones médicas, desde problemas 
                 comunes hasta trastornos más complejos. Algunas de las áreas de especialización en Otorrinolaringología que ofrecemo
             </p>
        </div>
    
          <div class="general8"> </div>
       
     </section>

    <section class="general">
        <div class="general9"> </div>
        <div class="general7">
            <h2 class="title">Especialidad de Urologia</h2>
             <p class="prro">
                La especialidad de Urología se enfoca en el diagnóstico y tratamiento de enfermedades
                 y trastornos del sistema urinario en hombres y mujeres, así como en el sistema reproductor
                  masculino. En nuestra clínica, contamos con un equipo de urólogos altamente capacitados 
                  y comprometidos con brindar atención especializada y compasiva a nuestros pacientes.
                 Nuestros urólogos abordan una amplia gama de condiciones médicas relacionadas con el sistema urinario y reproductivo.
             </p>
        </div>
    
     </section>
     <section class="general" id="">
        <div class="generala">
            <h2 class="title">Especialidad de Endocrinologia</h2>
             <p class="prro">
                La especialidad de Endocrinología se centra en el diagnóstico y tratamiento 
                de trastornos hormonales y metabólicos. En nuestra clínica, contamos con un equipo 
                de endocrinólogos altamente capacitados y comprometidos con brindar atención especializada a nuestros pacientes.
                Nuestros endocrinólogos se dedican a evaluar y tratar una amplia gama de condiciones endocrinas, 
                desde trastornos hormonales comunes hasta enfermedades más complejas. 
             </p>
        </div>
    
          <div class="generalb"> </div>
       
     </section>

    <section class="general">
        <div class="generalc"> </div>
        <div class="generala">
            <h2 class="title">Especialidad de Mastologia</h2>
             <p class="prro">
                La especialidad de Dermatología se centra en el diagnóstico, tratamiento
                 y prevención de las enfermedades y condiciones relacionadas con la piel,
                  cabello y uñas. En nuestra clínica, contamos con un equipo de dermatólogos
                   altamente capacitados y comprometidos con la salud y el bienestar de la piel de nuestros pacientes.
                Nuestros dermatólogos ofrecen una amplia gama de servicios especializados para
                 abordar diversas afecciones cutáneas y estéticas.
             </p>
        </div>
    
     </section>

    <section class="content price" id="tab-reg">

        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                              <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <a asp-action="IndexPerfil" asp-controller="PerfilPaciente" class="btn mt-4">submit</a>
                                                <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                              </div>
                                          </div>
                                      </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Sign Up</h4>
                                                <div class="form-group">
                                                    <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <a asp-action="IndexPerfil" asp-controller="PerfilPaciente" class="btn mt-4">submit</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>

    </section>

@section Scripts
{
    <script src='https://code.jquery.com/jquery-2.1.0.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
}

