@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/VistaLogin/LoginVista.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    
    <div id="contenedorLogin">

        <div id="espacioTop"></div>

            <div id="centradoLogin">

                <div id="tarjetaLogin">

                    <div id="ApartadoLogin">

                        <div id="espacioIcono">
                            
                            <h2>Klinik System</h2>

                            <div id="contencionSubtitulo">

                                <div id="contencioP">

                                    <p>Ingresa tus datos para poder acceder al sistema</p>

                                </div>

                            </div>                    

                        </div>

                        <form asp-controller="Login" asp-action="IndexLogin" method="post">   

                            <div id="espacioInputs">

                                <input placeholder="Correo" name="correo" type="text" required />

                                <input placeholder="Contraseña" name="clave" type="password" required />

                            </div>                        

                            <div id="apartadoBotones">

                                <div id="centradoInput">

                                    <button type="submit"><i class="bi bi-arrow-right-circle-fill"></i> Ingresar</button>

                                </div>

                                <div id="centradoInput">

                                    <a>¿Olvidaste tu Contraseña?</a>

                                </div>

                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div id="headerNoti" class="toast-header bg-info text-white">
                                            <i class="bi bi-capsule-pill"></i>
                                            <strong class="me-auto">&nbsp;Klinik System</strong>
                                            <small>@DateTime.Now</small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            @TempData["Mensaje"]
                                        </div>
                                    </div>
                                </div>
                            }

                        </form>

                    </div>

                    <div id="ApartadoLogo">

                        <div id="logoLogin" >
                            <img />
                        </div>

                    </div>

                </div>

            </div>

        <div id="espacioBottom"></div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

