@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/*###################################################################################################*/
/*apartado indice*/

#indiceFormulario
{
    margin-bottom: 20px;
}

#indiceFormulario p
{
    font-family: 'Raleway', sans-serif;
}

/*###################################################################################################*/
/*apartado menu*/

#contenedorMenusFormulario
{
    width: 100%;
    margin-bottom: 20px;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*apartado interno 1*/

#opcionesMenu1
{
    background-color: #ECEEFF;
    width: 100%;
    height: 45px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o*/
/*apartado componentes 1*/

#filtroMenu
{
    width: auto;
    height: 100%;
    background-color: white;
    border: 1px solid #C1C1C1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 6px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

#tituloMenu
{
    background-color: #FCFFE3;
    border: 1px solid #9AA0D4;
    border-radius: 25px;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    margin-right: 10px;
}

#tituloMenu p
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#tituloMenu strong
{
    font-weight: 400;
    color: #5A67D3;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*apartado interno 2*/

#opcionesMenu2
{
    background: linear-gradient(40deg, #B4F5FF, #C7B4FF);
    width: 100%;
    height: 45px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o*/
/*apartado componentes 1*/

#botonesMenu
{
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

#botonMenuAgregar
{
    width: auto;
    height: 100%;
    padding: 2px;
    padding-left: 6px;
    padding-right: 8px;
    background-color: #75A5EC;
    color: white;
    border-radius: 25px;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    border: 0px; 
}

#botonMenuImprimir
{
    width: auto;
    height: 100%;
    padding: 2px;
    padding-left: 6px;
    padding-right: 8px;
    background-color: #CC8FE7;
    color: white;
    border-radius: 25px;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
}

/*###################################################################################################*/
/*apartado inputs de ingreso*/

#contenedorInputsRegistros
{
    width: 100%;
    padding: 5px;
    height: 60vh;
}

#tarjetaInputsRegistros
{
    width: 750px;
    height: min-content;
    /*background-color: aquamarine;*/
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#apartadoInputsRegistro
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#grupoInputRegistro
{
    width: auto;
    height: 35px;
    padding: 3px;
    border-radius: 25px;
    padding-right: 3px;
    background-color: white;
    border: 1px solid #CFCFCF;

    display: flex;
}

#iconoInputRegistro
{
    width: 32px;
    height: 100%;
    background-color: #9068E5;
    border-radius: 25px;
    margin-right: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grupoInputRegistro input
{
    border: 0px;
    border-radius: 25px;
    height: 100%;
    background-color: transparent;
    outline: none;
    width: 100%;
}

#grupoInputRegistro select
{
    border: 0px;
    border-radius: 25px;
    height: 100%;
    background-color: transparent;
    outline: none;
    width: 100%;
}

/* apartado de notificacion de error @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

#headerNotiError
{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border: 0px !important;
    background: linear-gradient(40deg, #FF4343, #C643FF);
}

#alertaError
{
    border: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tituloError
{
    color: white;
    font-family: 'Raleway', sans-serif;
}

#spanError
{
    width: 100%;
    height: min-content !important;
    background-color: #FF5252;
    color: white;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    box-shadow: none !important;
}

/*###################################################################################################*/
/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
/*###################################################################################################*/
/*apartado responsive*/

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
/*responsive del indice*/

@media screen and (max-width: 321px)
{
    #indiceFormulario p
    {
        font-size: 10px;
    }
}

/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
/*responsive del menu*/

@media screen and (max-width: 725px)
{
    #tarjetaInputsRegistros
    {
        width: 100%;
        flex-direction: column;
    }

    #contenedorGeneralFormulario
    {
        overflow-y: scroll;
        width: 100%;
        height: 60vh;
        padding-bottom: 30px;
    }

    #contenedorInputsRegistros
    {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 709px)
{
    #opcionesMenu2
    {
        flex-direction: column-reverse;
        height: min-content;
    }

    #botonesMenu
    {
        width: 100%;
        gap: 15px;
    }

    #botonMenuAgregar
    {
        flex-grow: 1;
        text-align: center;
        margin-right: 0px;
    }

    #botonMenuImprimir
    {
        flex-grow: 1;
        text-align: center;
        margin-right: 0px;
    }

    /*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

    #grupoInputBuscar input
    {
        width: 100%;
    }
}

@media screen and (max-width: 630px)
{
    #filtroMenu
    {
        flex-direction: column;
        gap: 10px;
    }

    #iconoFiltro
    {
        display: none;
    }

    #selectFiltro
    {
        width: 100%;
    }
}

@media screen and (max-width: 432px)
{
    #generalidadesMenu
    {
        flex-direction: column;
        gap: 10px;
    }

    #estadosMenu
    {
        width: 100%;
        text-align: center;
    }

    #opcionesMenu1
    {
        border-radius: 25px;
    }

    #filtroMenu
    {
        border-radius: 25px;
        width: 100%;
    }

    #tituloMenu
    {
        text-align: center;
        padding-top: 5px;
    }

    #tituloMenu p
    {
        font-size: 13px;
    }

    #opcionesMenu2
    {
        border-radius: 25px;
    }

    #botonesMenu
    {
        flex-direction: column;
    }
}
