
#scrollCitas
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 390px;
}

#scrollRecetas
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 350px;
}