@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}

body 
{
    text-align: center;
}

.navbar 
{
    background-color: #115959;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 3.3rem;
    position: fixed !important;
    width: 100%;
    z-index: 100;
    height: min-content;
    display: flex;
}

.left h1 {
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #9C0447;
    line-height: 80px;
}

.right ul
{
    display: flex;
    list-style: none;
    gap: 10px;
    height: 40px;
}

.right ul li
{
    height: 100%;
}

.right ul li a 
{
    padding: 0px 20px;
    padding-top: -0px !important;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    height: 135%;
}

.right ul li a:hover {
    background-color: #fff;
    color: rgb(22, 7, 36);
}

@media screen and (max-width:805px) 
{
    .list
    {
        width: 100%;
        height: 100vh !important;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex !important;
        flex-direction: column;
        position: fixed;
        top: 4rem !important;
        left: 100%;
        transition: all 1s;
        
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}

/* about */

a,
a:hover,
a:focus,
a:active
{
    text-decoration: none;
    outline: none;
}

    a,
    a:active,
    a:focus
    {
        color: #333;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

img
{
    max-width: 100%;
    height: auto;
}

span, a, a:hover
{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}





