<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seidman</title>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="~/css/Template.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @await RenderSectionAsync("Estilos", required: false)
</head>
<body>

    <nav class="navbar">

        <div class="left">

            <h1>Seidman Center</h1>

        </div>

        <div class="right">

            <input type="checkbox" id="check">

            <label for="check" class="checkBtn">

                <i class="fa fa-bars"></i>

            </label>

            <ul class="list">

                <li><a asp-action="IndexSitio" asp-controller="InicioPacientes">Inicio</a></li>

                <li><a href="#tab-nos">Nosotros</a></li>

                <li><a href="#tab-esp">Especialidades</a></li>

                <li><a href="#tab-reg">Inicia Sesion </a></li>

                <li><a asp-action="IndexLogin" asp-controller="Login" >Administracion </a></li>

            </ul>

        </div>

    </nav>

     @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>