<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="~/css/Template.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @await RenderSectionAsync("Estilos", required: false)
</head>
<body>

    <nav class="navbar">

        <div class="left">

            <h1>Klinik System</h1>

        </div>

        <div class="right">

            <input type="checkbox" id="check">

            <label for="check" class="checkBtn">

                <i class="fa fa-bars"></i>

            </label>

            <ul class="list">

                <li><a asp-action="IndexSitio" asp-controller="InicioPacientes">Inicio</a></li>

                <li><a href="#tab-nos">Nosotros</a></li>

                <li><a href="#tab-esp">Especialidades</a></li>

                <li><a href="#tab-reg">Inicia Sesion </a></li>

                <li><a asp-action="IndexLogin" asp-controller="Login" >Administracion </a></li>

            </ul>

        </div>

    </nav>

      @RenderBody()



     <script src='https://code.jquery.com/jquery-2.1.0.js'></script>
     <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
</body>
</html>